input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  margin-right: 10px;
  color: #292b2a;
  cursor:pointer;
}

input[type="radio"] + label span {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -1px 4px 0 0;
  vertical-align: middle; 
  border-radius: 50%;
  background-color: #292b2a;
}

input[type="radio"]:checked + label span.s {
  background-color: #10a274;
}

input[type="radio"]:checked + label span.n {
  background-color: #f44336;
}

input[type="radio"] + label span, input[type="radio"]:checked + label span {
  -webkit-transition: background-color 0.1s linear;
  -o-transition: background-color 0.1s linear;
  -moz-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
}