@import url('https://fonts.googleapis.com/css?family=Open+Sans');



*{
	outline: none;
	box-sizing: border-box;
}

/******************************************/
html, body{
	background-color: #FAFAFA;
	margin: 0;
	width: 100%;
}
.box{
	
	
	padding: 15px;
	text-align: center;
	margin-top: 100px;	
}

img{
	width: 250px;

}

/******************************************/

input[type=text]{
	background-color: #fafafa;
	color: #571047;

    font-size: 15px;
    width: 20%;
    height: 2%;
	

	border: 1px solid #E1BEE7;
   	border-bottom-left-radius: 8px;
   	border-top-left-radius: 8px;
   	border-right: none;

	padding: 10px 10px;
	padding-right: 1px;
	margin-bottom: 20px;
	
	cursor: auto;
	transition: 0.3s;
}

#btnBuscar{
	background-color: #fafafa;
	color: #592a78;

    font-size: 15px;
    width: 3%;
    height: 2%;


	border: 1px solid #E1BEE7;
	border-top-right-radius: 8px;
   	border-bottom-right-radius: 8px;
   	border-left: none;

	padding-top: 10px;
	padding-bottom: 10px;
	

	margin-bottom: 20px;
	margin-left: -6px;
	transition: 0.3s;
}

.fa-search{
	cursor: pointer;
}

input[type=text]:focus{
	border: 1px solid  #4A148C;
	border-right: none;
	 	
}

input[type=text]:focus:focus ~ span #btnBuscar{
	border: 1px solid  #4A148C;
	border-left: none;

}

::placeholder {
	color: #676767;
	font-style: italic;
	opacity: 1;
}

/*************************RADIO***************/

/* The container */
.container {
	/*display: block;*/
    position: relative;
    padding-left: 30px;
    margin-bottom: 2px;
    cursor: pointer;
    font-family: 'Open Sans';
    font-size: 1em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#classifc{


}

#prec{
	margin-left: 10px;

}


/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 21px;
    width: 22px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #571047;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

/*************************RADIO***************/

.footer-index{
	position: absolute;
	bottom: 0;
	width: 100%;
}

.copy{
	margin: 0 auto;
	text-align: center;
	color: #181818;
	font-family: 'Open sans';
}

.btnCadastrar{
	position: absolute;
	right: 30px;
	background-color: #E1BEE7;
	border: 2px;
	border-radius: 4px;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 5px; 
	padding-bottom: 5px;
	text-align: center;
	color: #676767;
	font-family: 'Open Sans';
	font-size: 1em;
	cursor: pointer;
	transition: 0.3s;
	margin-right: 2px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.btnCadastrar:hover {
	background-color: #571047;
	color: #EDE7F6;
}
