*{
	outline: none;
}

body{
	background-color: #592a78;
	display: flex;
	justify-content: left;
	align-items: left;
	height: 100%;
}

label{
	font-family: Arial;
	color: #EDE7F6;
}

.box{
	padding: 20px;
	height: 100%;
	margin-top: 5%;
}

.campText{
	background-color: #592a78;
	border: 1px solid #EDE7F6;
	color: #fafafa;
   	border-radius: 8px;
	padding: 10px 20px;
	cursor: pointer;
	margin-bottom: 15px;
}

.campText:focus{
	border: 2px solid #FBC02D;
	border-radius: 12px;
}


.txt:focus{
	border: 1px solid #F48FB1;
	border-radius: 8px;
}

::placeholder {
	color:#B39DDB;
	opacity: 1;
}

.btnCad{
	background-color: #F06292;
	border: 2px;
	border-radius: 4px;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 5px; 
	padding-bottom: 5px;
	text-align: center;
	color: #EDE7F6;
	font-family: Arial;
	font-size: 12px;
	cursor: pointer;
	transition: 0.3s;
	margin-right: 2px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.btnCad{
	
}