*{
	outline: none;
}

body{
	background-color: #FAFAFA;
	height: 100%;
}

label{
	font-family: Arial;
	color: #EDE7F6;
}

.box{
	background-color: rgba(87, 16, 71, 0.7);
	z-index: 3;
	padding: 20px;
	margin-left: 5%;
	width: 13%;
	margin-top: 3%;
	border-radius: 20px;
	box-shadow: 5px 10px 15px #5b5b5b;
}

.campText{
	background-color: #fafafa;
	color: #592a78;
	width: 100%;
   	border-radius: 8px;
	padding: 10px 1px;
	cursor: pointer;
	margin-bottom: 10px;
	transition: 0.3s;
	cursor: auto;
	border: 1px solid #E1BEE7;
   	border-bottom-left-radius: 8px;
   	border-top-left-radius: 8px;
   	border-right: none;
}

.campText:focus{
	border: 1px solid  #4A148C;
	border-right: none;
}


.txt:focus{
	border: 1px solid #F48FB1;
	border-radius: 8px;
}

::placeholder {
	color: #676767;
	font-style: italic;
	opacity: 1;
}

input[type=submit],input[type=button]{
	background-color: #F06292;
	border: 2px;
	border-radius: 4px;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 5px; 
	padding-bottom: 5px;
	text-align: center;
	color: #EDE7F6;
	font-family: Arial;
	font-size: 12px;
	cursor: pointer;
	transition: 0.3s;
	margin-right: 2px;
	margin-top: 10px;
	margin-bottom: 10px;
}

img{
	position: absolute;
	z-index: 1;
	top: 3%;
	right: 5%; 
}